  @font-face {
    font-family: 'origicideregular';
    src: url('http://p-insurgence.com/fonts/Origicide-webfont.eot');
    src: url('http://p-insurgence.com/fonts/Origicide-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://p-insurgence.com/fonts/Origicide-webfont.woff') format('woff'),
         url('http://p-insurgence.com/fonts/Origicide-webfont.ttf') format('truetype'),
         url('http://p-insurgence.com/fonts/Origicide-webfont.svg#origicideregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #3b3b3b;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background: #2b2b2b;
  }
  .wrapper {
    max-width: 1250px;
    position: absolute;
    top: 84px;
  }
  table {
    margin: 0 0 80px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    display: table;
  }
  .row {
    display: table-row;
    background: #f6f6f6;
  }
  .row:nth-of-type(odd) {
    background: #e9e9e9;
  }
  .row.header {
    font-weight: 900;
    color: #fff;
    background: darkslategrey;
    padding-bottom: 50px;
  }
  .row.header.name {
    font-family: 'origicideregular';
    font-size: large;
    font-weight: 100;
  }
  td.details {
    width: 20px;
  }
  .row.green {
    background: #27ae60;
  }
  .row.blue {
    background: #2980b9;
  }
  td {
    padding: 6px 12px;
    display: table-cell;
    width: 80px;
    vertical-align: middle;
        text-align: center;
  }
  td.header {
    background: #426f6f;
    font-weight: 600;
    color: white;
    width: 20px;
  }
  a {
    color: black;
    text-decoration: none;
  }
  .crown {
    vertical-align: bottom;
    width: 25px;
    float: right;
  }
  .row.inherit{
    background: inherit;
    height: 52px;
  }
  .release{
    min-width: 60px;
  }
  .release.released{
    background: lightgreen;

  }
  .release.unreleased{
        background: lightcoral;
  }
  .iconplace{
    background-size: 80px 40px !important;
    width: 40px;
    height: 40px;
    overflow: hidden;
    float: right;
  }
  .statstable{
    margin: 0px;
    border-collapse:collapse;
  }
  .formenamestats{
    width: 100px
  }
  td.type{
      padding: 0px 10px 0px 10px;
      color: white;
    padding: 0px;
    min-width: 80px;
    max-width: 80px;
    text-align: center;
  }
  .row.inherit.type{
    height: 100%;
  }

  .bug{
    background-color: #A8B820;
    border: 1px solid #6D7815;
  }
  .dark{
    background-color: #705848;
    border: 1px solid #49392F;
  }
  .dragon{
    background-color: #7038F8;
    border: 1px solid #4924A1;
  }
  .electric{
    background-color: #F8D030;
    border: 1px solid #A1871F;
  }
  .fairy{
    background-color: #EE99AC;
    border: 1px solid #9B6470;
  }
  .fighting{
    background-color: #C03028;
    border: 1px solid #7D1F1A;
  }
  .fire{
    background-color: #F08030;
    border: 1px solid #9C531F;
  }
  .flying{
    background-color: #A890F0;
    border: 1px solid #6D5E9C;
  }
  .ghost{
    background-color: #705898;
    border: 1px solid #493963;
  }
  .grass{
    background-color: #78C850;
    border: 1px solid #4E8234;
  }
  .ground{
    background-color: #E0C068;
    border: 1px solid #927D44;
  }
  .ice{
    background-color: #98D8D8;
    border: 1px solid #638D8D;
  }
  .normal{
    background-color: #A8A878;
    border: 1px solid #6D6D4E;
  }
  .poison{
    background-color: #A040A0;
    border: 1px solid #682A68;
  }
  .psychic{
    background-color: #F85888;
    border: 1px solid #A13959;
  }
  .rock{
    background-color: #B8A038;
    border: 1px solid #786824;
  }
  .steel{
    background-color: #B8B8D0;
    border: 1px solid #787887;
  }
  .water{
    background-color: #6890F0;
    border: 1px solid #445E9C;
  }
  td.tier{
    padding: 0px;
    min-width: 70px;
    max-width: 70px;
    overflow: hidden;
  }
  td.dexno{
      min-width: 70px;
  }
  td.type.singletypeleft{
    min-width: 162px;
    max-width: 162px;
  }
  td.type.singeltyperight{
      display: none;
  }
  .allstats{
      padding:0px;
      width:100px;
      text-align:center;
  }
  td.type.empty{
      padding-right:13px;
  }
  .fixed{
      position:fixed;
      width: 1250px;
    top: 1px;
    left:8px;
    z-index: 100;
    padding: 12px 0px;
  }
  .rowinrow{
      display: table-cell;
  }

  .table.list{
    padding-top: 25px;
    border-collapse: collapse;

  }
  th{
  }
td.abilities {
    width: 120px;
    padding: 0px 0px;
    max-width: 150px;
    min-width: 150px;
}
  .formeTable{
      margin-bottom:0px;
      border-collapse: collapse;
  }
  .formeName{
    width: 100px;
    padding: 0px;
        min-width: 100px;
  }
  #dexno{
      width:103px;
  }
  #species{
      width: 112px;
  }
  #forme{
      width:97px;
  }
  #tier{
      width: 75px;
  }
  #types{
      width: 160px;
  }
  #abilities{
      width: 146px;
  }
  #HA{
      width: 148px;
  }
  .td.allstat{
      width: 47px;
  }
  .table.headerTable{
      border-collapse:collapse;
  }
  #tierFilter{
    position: fixed;
    z-index: 101;
    top: 50px;
    left: 25px;
  }