$header_size = 52px

#header
  height $header_size
  line-height @height
  width 100%
  background #38342B
  z-index 10
  position absolute
  ul
    margin 0

  .icon
    position relative
    top 3px
    font-size 20px

#main-nav
  padding 0 18px

#main-nav, #header li
  line-height 42px

#logo
  float left
  width 120px
  margin-right 15px

#logo img
  position relative
  z-index: 100
  top 3px

#sections
  margin-left 30px
  margin-right 120px
  visibility visible

#leftmenu
  display none

#leftmenu a 
  color #fff
  padding 5px
  margin-left 15px
  &:hover
    border-radius 5px
    background #D94E47
    text-decoration none

#rightmenu {
    margin-left: -40px;
}
nav ul {
    list-style: none;
    font-size: .95em;
}
nav li {
    display: block;
    float: left;
    text-align: left;
}
nav a {
    display: block;
    padding-left: .75em;
    padding-right: .75em;
    color: #fff;
    text-decoration: none;
}

nav a:hover, nav li:hover {
    background: #D94E47;
    color: #6C2724;
    text-decoration none
}

#sub-nav {
    height: 10px;
    background: #D94E47;
    z-index: 6;
    position absolute
    bottom 0
    left 0
    right @left
}

@keyframes anim-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner-anim {
    display: inline-block;
    animation: anim-rotate 1s infinite linear;
}

.spinner-anim.hidden {
    display: none;
}
