#credits-modal.modal.hide
  .modal-header
    button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
    h3 PokeBattle Credits
  .modal-body
    ul
      li
        | Pokémon is © 1995-2016 Nintendo. All Pokemon names and sprites are
        |  owned by them.
      li
        | Huge thanks to PokeBattle.com for developing this awesome engine
        |  You can find their engine at <a href="http://github.com/sarenji/pokebattle-sim">this GitHub repo!</a>
      li
        | Big thanks to Suzey and the rest of the devteam of Insurgence for
        |  creating Insurgence
      li
        | Major thanks to my faithful testers who helped me make sure this thing
        |  actually worked
      li
        | And of course thanks to you, the user, for actually using this thing,
        |  we love you
  .modal-footer
    button.button(data-dismiss="modal", aria-hidden="true") Wow, these people rule!
