.teambuilder
  .display_pokemon
    .team_meta.clearfix
      .team_name(contenteditable="true")
      .team_meta_buttons
        .dropdown.change-format-dropdown.left
          .current-format.button.dropdown-toggle(data-toggle="dropdown")
          - var allformats = window.PokeBattle.conditions.Formats()
          ul.dropdown-menu(role="menu")
            for format in allformats
              li
                a(href="#", data-format="#{format.name}") #{format.humanName}
        .button.button_blue.save_team.disabled Save
        .button.go_back Back
    .navigation
      ul.pokemon_list.clearfix
      .nav-button.add_pokemon + Add Pokemon
    .pokemon_edit
  .display_teams
