each pokemon, i in pokemonList
  li(data-pokemon-index=i, data-pokemon-cid=pokemon.cid)
    - var style = window.PokemonIconBackground(pokemon)
    .pokemon_icon(style=style)
    .pokemon-middle
      if pokemon.isNull
        em.name Empty
      else
        .name= pokemon.get("species")
        if pokemon.getTeam().hasPBV()
          .pokemon-pbv
            | PBV: 
            span.pbv-value= pokemon.getPBV()
        else if pokemon.getTeam().hasTier()
          .pokemon-pbv
            | Tier: 
            span.pbv-value= pokemon.getTier().humanName