if team.hasPBV()
  .team-pbv PBV: 
    if team.getPBV() <= team.getMaxPBV()
      = team.getPBV()
    else
      span.red= team.getPBV()
    | /#{team.getMaxPBV()}
else if team.hasTier()
  .team-tier Tier: 
    if team.getTier().tierRank <= team.getMaxTier().tierRank
      = team.getTier().humanName
    else
      span.red= team.getTier().humanName
    | /#{team.getMaxTier().humanName}

.team_icons.clearfix
  each pokemon, i in team.get('pokemon').models
    - var style = window.PokemonIconBackground(pokemon)
    .left.pokemon_icon(data-index = i, style = style)